<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ps1.bits_pilani.goa.aiims_kiosk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity
            android:name=".AboutAIIMS"
            android:label="About AIIMS" />
        <activity
            android:name=".MedicalServices"
            android:label="Medical Services at AIIMS" />
        <activity android:name=".Malaria01" />
        <activity android:name=".Malaria02" />
        <activity android:name=".Malaria03" />
        <activity android:name=".Malaria04" />
        <activity android:name=".Malaria05" />
        <activity android:name=".Malaria06" />
        <activity android:name=".Typhoid01" />
        <activity android:name=".Typhoid02" />
        <activity android:name=".Typhoid03" />
        <activity android:name=".Typhoid04" />
        <activity android:name=".Typhoid05" />
        <activity
            android:name=".docContacts"
            android:theme="@style/Theme_lol" />
        <activity android:name=".Cold04" />
        <activity android:name=".Cold05" />
        <activity android:name=".Anemia01" />
        <activity android:name=".Anemia02" />
        <activity android:name=".anemia03" />
        <activity android:name=".Anemia04" />
        <activity android:name=".Anemia06" />
        <activity android:name=".DiseasePreventionHome" />
        <activity android:name=".Anemia05" />
        <activity android:name=".Schemes" />
        <activity android:name=".DentistryNPsychiatry"
            android:label = "Dentistry And Psychiatry"></activity>
        <activity android:name = ".ENT"
            android:label = "ENT"></activity>
        <activity android:name = ".PathologyAndLabMedicine"
            android:label = "Pathology And Lab Medicine"></activity>
        <activity android:name = ".ClinicalBioChem"
            android:label = "Clinical Bio Chemistry"></activity>
        <activity android:name = ".Microbiology"
            android:label = "Microbiology"></activity>
        <activity android:name = ".GeneralMedicine"
            android:label = "General Medicine"></activity>
        <activity android:name = ".NeurologynFamilyMedicine"
            android:label = "Neurology And Family Medicine"></activity>
        <activity android:name = ".RadiologynPulmonary"
            android:label = "Radiology And Family Medicine"></activity>
        <activity android:name = ".PediatricsNOBGY"
            android:label = "Pediatrics And OBGY"></activity>
        <activity android:name = ".MedicalTechnology"
            android:label = "Medical Technology at AIIMS"></activity>
        <activity android:name = ".OPDschedule"
            android:label = "OPD Schedule"></activity>

    </application>

</manifest>