<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ps1.bits_pilani.goa.aiims_kiosk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="AIIMS Bhopal"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <!-- android:theme="@style/ThemeOverlay.AppCompat.Dark" -->
        <activity
            android:name=".AboutAIIMS"
            android:label="About AIIMS" />
        <activity
            android:name=".MedicalServices"
            android:label="Medical Services at AIIMS" />
        <activity android:name=".Malaria01" />
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:theme="@style/about_us" />
        <activity android:name=".Malaria02" />
        <activity android:name=".Malaria03" />
        <activity android:name=".Malaria04" />
        <activity android:name=".AmbulatoryCare" />
        <activity android:name=".Maps" />
        <activity android:name=".Malaria05" />
        <activity android:name=".Malaria06" />
        <activity android:name=".Typhoid01" />
        <activity android:name=".Typhoid02" />
        <activity android:name=".Typhoid03" />
        <activity android:name=".Typhoid04" />
        <activity android:name=".Typhoid05" />
        <activity
            android:name=".docContacts"
            android:label="Doctor Contacts"
            android:theme="@style/doc_contacts" />
        <activity android:name=".Cold04" />
        <activity android:name=".Cold05" />
        <activity android:name=".Anemia01" />
        <activity android:name=".Anemia02" />
        <activity android:name=".anemia03" />
        <activity android:name=".Anemia04" />
        <activity android:name=".Anemia06" />
        <activity android:name=".DiseasePreventionHome" />
        <activity android:name=".Anemia05" />
        <activity
            android:name=".Schemes"
            android:label="Govt. Schemes"
            android:theme="@style/govt" />
        <activity
            android:name=".DentistryNPsychiatry"
            android:label="Dentistry And Psychiatry" />
        <activity
            android:name=".ENT"
            android:label="ENT" />
        <activity
            android:name=".PathologyAndLabMedicine"
            android:label="Pathology And Lab Medicine" />
        <activity
            android:name=".ClinicalBioChem"
            android:label="Clinical Bio Chemistry" />
        <activity
            android:name=".Microbiology"
            android:label="Microbiology" />
        <activity
            android:name=".GeneralMedicine"
            android:label="General Medicine" />
        <activity
            android:name=".NeurologynFamilyMedicine"
            android:label="Neurology And Family Medicine" />
        <activity
            android:name=".RadiologynPulmonary"
            android:label="Radiology And Family Medicine" />
        <activity
            android:name=".PediatricsNOBGY"
            android:label="Pediatrics And OBGY" />
        <activity
            android:name=".MedicalTechnology"
            android:label="Medical Technology at AIIMS" />
        <activity
            android:name=".OPDschedule"
            android:label="OPD Schedule" />
        <activity android:name=".actnBar2" />
        <activity android:name=".Govt_Schemes.IGMSY" />
        <activity android:name=".Govt_Schemes.MMS" />
        <activity android:name=".Govt_Schemes.ICDS" />
        <activity android:name=".Govt_Schemes.JSY" />
        <activity android:name=".Govt_Schemes.PMJDY" />
        <activity android:name=".Govt_Schemes.PMJJBY" />
        <activity android:name=".Govt_Schemes.NFSM" />
        <activity android:name=".Govt_Schemes.PMSBY" />
        <activity android:name=".helpPage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>